<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title> Login </title>
</head>
<body style="padding-top: 2em;">
<h2 align='center'>LOGIN</h2><hr><br><br>
 <div id="login" align="center" style="padding-top: 2em;">
      <form  id ="login-form" method="post" nonvalidate="nonvalidate">{%csrf_token%}
   
        <p><input type="text" name="username"  placeholder="Username" id="username"></p><br>
        <p><input type="password" name="password"  placeholder="Password" id="password"></p><br>
        <p class="submit"><input type="submit" name="commit" value="LOGIN"; ></p>
      </form>

<div>
<div style="padding-top: 2em;">New Users, Please <a href="register"> REGISTER </a> First !</div>
</div>
<div>

<div class="container" id="errorsdiv" style="padding-top: 3em;">
	{% if errors == 1 %}
		<div style="background-color: #FF5733;  padding-top: 5px; padding-bottom: 5px; color: white;"><b>Please Enter Correct Username and Password!*</b></div>
	{%endif%}
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>



