<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>REGISTER</title>
</head>
<body>
<h2 align='center'>REGISTER</h2><hr><br><br>

<div id="signup-form" align="center">
<form method="POST">
{% csrf_token %}



		  <p><input type="text" name="name" id="name" placeholder="Enter name"></p><br>
		  <p><input type="text" name="username" id="username" placeholder="Enter username"></p><br>
		  <p><input type="password" name="password" placeholder="Enter Password"></p><br>
          <p><input type="text" id="email" name="email" placeholder="Enter Email Id"></p><br>
          <p><input type="text" name="contact" id="contact" placeholder="Enter contact"></p><br>


  			  <p class="submit"><input type="submit" name="commit_signup" value="Sign Up"; ></p>
  			</form>


</form>
<div class="container" id="errorsdiv" style="padding-top: 3em;">
	{% if errors == 1 %}
		<div style="background-color: #FF5733;  padding-top: 5px; padding-bottom: 5px; color: white;"><b>Please Enter all details !*</b></div>
	{%elif errors == 2%}
		<div style="background-color: #FF5733;  padding-top: 5px; padding-bottom: 5px; color: white;"><b>Username isn't Available. Try Again with different Username !*</b></div>
	{%endif%}
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
